header{
  background: url('../img/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  margin: 0 auto;
}

.header__container { 
  padding-top: 25px;
  margin: 0 auto;
  max-width: 1780px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  padding: 0;
}


.nav__link{  
  transition: color 0.3s ease-in-out;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.nav__link:hover{
   color: var(--button-hover);
   transition: 0.3s ease-in-out;
   text-decoration: underline;
}

.nav__list {
  margin: 0;  
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.burger {
  z-index: 100000; 
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding-top: 16px;
  background-color: transparent;
  cursor: pointer;
  &:hover{
    background-color: transparent;
  }
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color:#fff;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  background-color:#fff;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
  
  width: 100%;
}

.burger::after {
  bottom: 0;
  width: 100%;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  width: 100%;
  left:0;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

 
.header__tel{
  display: flex;
  gap: 40px;

}
.header__tel-tel{
color: #Fff;
display: flex;
align-items: center;
justify-content: space-between;
font-weight: 800;
font-size: 24px;
line-height: 31px;
text-transform: capitalize;
}

.call{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 30px;
}
.stop-scroll {
  overflow: hidden;
}
.container{

 
  .main-banner{
    max-width: 941px;
    padding-top: 145px;
    .main-tittle{
      color: #Fff;
      font-weight: 800;
      font-size: 48px;
      line-height: 130%
    }
    .main-subtittle{     
      color: #Fff;
      font-weight: 600;
      font-size: 36px;
      line-height: 46px;
    }
    .main-subtittle2{
      padding-top: 20px;
      color: #Fff;
      font-weight: 600;
      font-size: 36px;
      line-height: 46px;
    }
    .buttons{
      display: flex;
      padding-top: 60px;     
      gap: 100px;
      padding-bottom: 161px;
      .price{
        padding: 16px 30px;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
      }
      .zayava{
        padding: 16px 30px;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .header__container{
    padding-top: 35px;
    padding-left: 1%;
    padding-right: 1%;
  }  
  .burger {
    display: block;
  }

  .nav {
    --header-height: 0px;
    position: fixed;
    left: 0;
    top: var(--header-height);
    z-index: 1000;
    overflow-y: auto;
    padding-top: 30px;
    width: 70%;
    text-align: center;
    height: calc(100vh - var(--header-height));
    background-color: var(--main-bg);
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
    background-color: var(--bg-black);
    
    
  }

  .nav--visible {
  
    transform: none;
    
  }

  .nav__list {
    padding-left: 0px;
    flex-direction: column;
  }
  .nav__list:last-child{
    padding-bottom: 50px;
  }


  .nav__item {
    width: 100%;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__link {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #fff;
    font-size: 22px;
  }
  
}

@media (max-width: 320px){
  .nav {
    width: 320px;
  }
 
  .burger-line{
    margin-top: 10px;
  }
  .logo{
    padding-top: 10px;
  }
  .burger {
    margin-top: 27px;
  }
}

