.jobs{
    background: rgb(255, 255, 255, 0.1);
    .container{
        .jobs__tittle{
            font-weight: 600;
            font-size: 32px;
            line-height: 130%;
            max-width: 636px;
            padding-top: 80px;
        }
        .jobs__buttons-grid{
            margin: 0 auto;
            padding-bottom: 80px;
            padding-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px;
            .card{
                width: 360px;
               .card__button{
                position: relative;   
                width: inherit;
                height: 120px;
                box-shadow: 0px 10px 20px rgba(116, 18, 18, 0.05);
                border-radius: 6px;
                 background-color: transparent;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 gap: 1px;
                 
                    .card__button-tittle{
                        h2{
                            text-align: left;
                            padding-left: 40px;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 165%;
                        }
                    }
                    .card__button-number{
                        
                        h1{
                            
                            position: absolute;
                            top: 15px;
                            right:15px;
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 130%;
                        }
                    }
                   }
                   .card__button:hover{
                    background-color:#F2323D
                }
               }
            }
        }
    }
@media (min-width: 850px) and (max-width:1240px){
    .jobs{
        .container{
            .jobs__buttons-grid{
                grid-gap: 20px;
                justify-items: center; 
            
            .card{
                width: 240px;
                
                .card__button{
                    height: 75px;
                    .card__button-tittle{
                        h2{
                            padding-left: 15px;   
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 165%;
                        }
                    }
                    .card__button-number{
                        h1{
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 130%;
                        top: 10px;
                        right:10px
                        }
                    }
                }
            }
        }
    }
    }
}

@media ( max-width:849px){
    .jobs{
        .container{
            .jobs__tittle{
               
                font-weight: 600;
                font-size: 22px;
                line-height: 130%;
                text-align: center;
                
            }
            .jobs__buttons-grid{
                grid-template-columns: 1fr;
                justify-items: center; 
                grid-gap: 15px;
            }
        }
    }
}

@media (max-width:400px){
    .jobs{
        .container{
            .jobs__buttons-grid{
                .card{
                    width: 240px;
                    .card__button{
                        height: 75px;
                        .card__button-tittle{
                            h2{
                                padding-left: 15px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 165%;
                            }
                        }
                        .card__button-number{
                            h1{
                             top:10px;
                             right: 10px  ; 
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 130%;
                            }
                        }
                    }
                }
            }
        }
    }
}