.portfolio{
    padding-top: 100px;
    img{
        width: 100%;
        height: auto;
    }
    .container{
        position: relative;
        .portfolio-tittle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tittle{
                font-weight: 800;
                font-size: 48px;
                line-height: 61px;
                text-transform: uppercase;
                color: var(--text-black);
                @media(max-width:640px){
                    font-size: 36px;
                    line-height: 46px;
                }
            }
            .tittle-btn{
                background-color: transparent;
                width: 203px;
                height: 58px;
                border: 1px solid var(--button-color);
                font-weight: 800;
                font-size: 20px;
                line-height: 26px;
                color: var(--text-black);
            }
        }
        .swiper{           
            padding-top: 50px;            
            height:46vw;
            width: 82.29vw;
            position: initial;
            @media(max-width:1024px){
                width: 82.03vw;
                height: 46.97vw;
            }
            @media(max-width:769px){
                height: auto;
            }
            .swiper-wrapper{
                .swiper-slide{             
                    position: relative;                   
                   @media(max-width:769px){
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                   }
                    .slide-content{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 642px;
                        height: 393px;
                        background-color: var(--bg-black);
                        @media(max-width:1024px){
                            width: 447px;
                            height: 246px;
                        }
                        @media(max-width:769px){
                            position: relative;
                            width: 100%;
                        }
                        .content-tittle{
                            padding-top: 50px;
                            font-weight: 800;
                            font-size: 32px;
                            line-height: 41px;
                            color: #FFFFFF;
                            padding-left: 50px;
                            @media(max-width:1024px){
                                font-size: 24px;
                                padding-top: 20px;
                                padding-left: 20px;
                            }
                            @media(max-width:640px){
                               font-size: 20px;
                            }
                        }
                            .info{
                                padding-top: 30px;
                                padding-left: 50px;
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                @media(max-width:1024px){
                                    padding-left: 20px;
                                    padding-top: 20px;
                                    display: block;
                                }                            
                                p{
                                    font-weight: 400;
                                    font-size: 20px;
                                    line-height: 26px;
                                    color: #FFFFFF;
                                    @media(max-width:1024px){
                                        font-size: 16px;
                                        line-height: 20px;
                                        
                                    }
                                    @media(max-width:640px){
                                        font-size: 16px;
                                    }
                                }
                                span{
                                    font-weight:800;
                                    font-size: 20px;
                                    line-height: 26px;
                                    color: #FFFFFF;
                                    @media(max-width:1024px){
                                        font-size: 16px;
                                    }
                                    @media(max-width:640px){
                                        font-size: 16px;
                                    }
                                }
                            }
                            .slide-button{
                                margin-top: 30px;
                                margin-left: 50px;                                
                                width: 178px;
                                height: 58px;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 26px;
                                color: #FFFFFF;
                                @media(max-width:1024px){
                                    margin-top: 20px;
                                    margin-left: 20px;
                                    background-color: transparent;
                                    font-size: 16px;
                                    width: 0;
                                    height: 0;
                                    img{
                                        display: block;
                                        width: auto;
                                    }
                                }
                                @media(max-width:640px){
                                    font-size: 16px;
                                }
                                img{
                                    display: none;
                                }
                            
                            }
                        
                    }
                }
            }
        }
        .swiper-button-prev{
            left: 2%;
            width: 70px;
            height: 70px;
            background: url('../img/btnprev.svg');
            background-size: contain;
            color: transparent;
            @media(max-width:1440px){
                width: 40px;
                height: 40px; 
                top: 59%;
            }
            @media(max-width:640px){
                width: 30px;
                height: 30px;
                top: 67%;
            }
        }
        .swiper-button-next{
            right: 2%;
            width: 70px;
            height: 70px;
            background: url('../img/btnnext.svg');
            background-size: contain;
            color: transparent;
            @media(max-width:1440px){
                width: 40px;
                height: 40px;
                top: 59%; 
            }
            @media(max-width:640px){
                width: 30px;
                height: 30px;
                top: 67%;
            }
        }
        .swiper-pagination{
           bottom: -50px;
           @media(max-width:1024px){
               bottom:-40px;
           }
                    
           .swiper-pagination-bullet{              
               border: 2px solid var(--button-color);
               border-radius: 0;
               width: 188px;
               height: 21px;
               background-color: transparent;  
               opacity: 1;  
               @media(max-width:1024px){
                width: 151px;
                height: 17px;
               }
               @media(max-width:640px){
                width: 92px;
                height: 11px;
               }          
              }
              .swiper-pagination-bullet:not(:last-child){
                margin-right: 20px;
                @media(max-width:375px){
                    margin-right: 5px;
                }
              }
              .swiper-pagination-bullet-active{
                background-color: var(--button-color);
              } 
           
           
          
        }
    }
}