
  *
  {
    margin: 0;
    padding: 0;
    font-family: Mont;
  }
  :root {
    /* colors */
    --text-black: #282828;
    --bg-black:#1D2228;
    --bg-white: #E5E5E5;
    --button-color: #FF4C00;
    --button-hover: #FB7405;
    
  

  }
  body{
    
  }

  .container{
    margin: 0 auto;
    max-width: 1780px;
    padding-left: 2%;
    padding-right: 2%;    
  }
  a{
    text-decoration: none;
  }
 
  button {
    background-color: var(--button-color);
    border:none;
    color: #fff;
  button:hover{
    background-color: var(--button-hover);
  }
   
    cursor: pointer;   
    transition: background-color 0.3s ease-in-out;
    box-shadow: none;
    transition: 0.3s ease-in-out;
  }
  

  .link {
    
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
 